header{
	padding-top: 5em; 
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: "Muli";
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: #333333;
}

@media(min-width: 800px){
	body{
		font-size: 18pt;
	}
	.indent{
		text-indent: 3em;
		line-height: 30pt;
	}
	.sectionHeader{
		font-family: "Montserrat", sans-serif;
		font-size: 40pt;
	}
}

@media(max-width: 799px){
	body{
		font-size: 16pt;
	}
	.indent{
		text-indent: 2em;
		line-height: 20pt;
	}
	.sectionHeader{
		font-family: "Montserrat", sans-serif;
		font-size: 24pt;
	}
}

nav{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

.partstyle{
	position:relative;
	padding-top: 1vh;
	padding-bottom: 5vh;
	padding-right: 12vw;
	padding-left: 12vw;
	height: auto;
	display: block;
	clear: both;
}

.inline{
	display: inline;
}

.center{text-align: center;}

.darken{
	background-color; rgba(255,255,255,0.3);
	background-blend-mode: multiply;
}

.circle{
	border-radius: 100%;
}

/*---------NAV--------*/
.navBar{
	overflow: hidden;
	z-index: 10;
	background: transparent;
}
.mainNav{
	list-style-type: none;
	position: relative;
	float: right;
	right: 20px;
}
.mainNav li{
	padding: 15px;
	display: inline-block;
}
.mainNav li a{
	display: block;
	font-size: 3vmin;
	color: white;
	text-decoration: none;
	font-family: "Poppins";
	transition: color 0.4s ease-out;
}
.hr1{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}
.hr2{
	border: black 2px solid;
	margin-left: 10vw;
	margin-right: 10vw;
}
.hr3{
	border-top: white 1px solid;
	margin-left: 1vw;
	margin-right: 1vw;
}
.foot{
	height: 200px;
}
.pageHeaderText{
	font-family: "Montserrat", sans-serif;
	width: 100%;
	font-size: 15vw;
	position: relative;
	text-transform: uppercase;
	color:white;
	padding:0;
	margin:0;
}

/*---------GRID IMAGES-------*/
.column{
	flex: 0 0 100%;
	max-width: 100%;
	background: inherit;
	padding: 0 4px;
	margin: 0 0px;
	overflow: hidden;
}
@media(max-width: 1200px){
	.column{
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media(max-width: 700px){
	.column{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	background-color: transparent;
	width: 100%;
	height: auto;
	padding: 0;
	text-align: center;
	float: none;
}
.gallery-item{
	background-color: inherit;
	width: 100%;
	padding: 10px;
	height: auto;
	margin:0;
	padding: 0;
}
.gallery-img{
	width: 100%;
	height: inherit;
}
.flexItem{
	width: 100%;
}

.AlignMid{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.vAlignMid{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.navBarMobile div.togNavBtn{
	background: rgba(79, 79, 79, 0);
	font-size: 20pt;
	position: absolute;
	top:0;
	right:0;
	z-index: 100;
}
.navBarMobile #Links{
	display: none;
}
a.navElMobile{
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/*-------Color Styles--------*/
.styleOrange1{
	background-color: #f2dfb5;
}
.styleOrange2{
	background-color: #f2d598;
}
.styleRed1{
	background-color: #f9eaf1;
}
.styleRed2{
	background-color: #e5c9d6;
}
.stylePurple1{
	background-color: #e6d2f2;
}
.stylePurple2{
	background-color: #d9c0e8;
}
.styleBlue1{
	background-color: #dee8ed;
}
.styleBlue2{
	background-color: #c9dbe5;
}
.styleYellow1{
	background-color: #e7ffc4;
}
.styleYellow2{
	background-color: #d1e0b1;
}
.styleWhite{
	background-color: white;
}
.styleGray{
	background-color: gray;
}
