$primary-color: #DCF3FB;
$secondary-color: #282c34;
$third-color: #DCF3FB;
$hover-color: #5D576B;

@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
$primary-font: 'Fira Sans', sans-serif;


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 24px;

body {
    background-color: $primary-color;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1 {
  text-align: left;
}

h3 {
  text-align: left;
}


.App {
    text-align: center;
    background-color: inherit;
    font-family: $primary-font;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  


  .navigation{
    background-color: inherit;
    overflow: hidden;
    margin-left: 5%;
    width: 90%
  }

  
  /* Style the links inside the navigation bar */
.navigation a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .navigation a:hover {
    color: $hover-color;
  }
  
  /* Add an active class to highlight the current page */
  .navigation a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .navigation .icon {
    display: none;
  }

  .navigation .home-item{
    font-weight: bold;
  }

  .navigations-links .item{
    float: right;
    display: inline-flex;
  }

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  max-width:100%;
  height:100%;
  text-align: center;
  position:relative;
  min-width: 100%;
  border-radius: 2px;
}

@media only screen and (min-width: 720px) {
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
    max-width:50%;
    height:100%;
    text-align: center;
    position:relative;
    min-width:50%;
    border-radius: 2px;
  }
}

  .links-list{
      text-align: center;
      padding: 0 0 0 0;
  }

  .links-list li{
      display: inline-block;
      margin: 0 1em 0 1em;
      font-size: 200%;
  }

  .links-list a{
    color: #000000;
    text-decoration: none;
  }

  .links-list a:hover{
    color: $hover-color;
    text-decoration: none;
  }




a {
    text-decoration: none; 
}

/* Thumbnails */

.project-image img{
  max-width: 60%;
  height: auto;
  opacity: 1;
}

.project-image img:hover{
  max-width: 60%;
  height: auto;
  opacity: 0.85;
}

.project{
  text-decoration: none;
  color: none;
  padding-top: 0.5em;
}

.project-category{
  padding-bottom: 10px;
  font-size: 14px;
}

.project-thumbnail{
  border-radius: 0.5em;
}

@media only screen and (min-width: 720px) {
  .project{
    text-decoration: none;
    color: none;
  }
}


/* ARTICLES */

.blog-header{
  border-radius: 0.5em;
}

.contents{
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  width: 80%;
  flex-direction: row;
  margin: auto;
}  


@media only screen and (min-width: 720px) {
  .blog-header{
    max-width: 50%;
    min-width: 45%;
    border-radius: 0.5em;
  }

  .contents{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    width: 65%;
    flex-direction: row;
    margin: auto;
  }  
}


.article{
  padding: 1.3em;
  background-color: $third-color;
  color:rgba(0, 0, 0, 0.85);
}

.summary{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  max-width: 75%;
  letter-spacing: 0.025vw;
  margin: 0% 0% 5% 10%;
}

.section-heading{
  text-align: left;
  font-weight: bolder;
  margin: 0% 0% 0% 10%;
  font-size: 20px;
}

.section-text{
  text-align: left;
  margin: 1% 0% 0% 10%;
  font-size: 16px;
  letter-spacing: 0.025vw;
  font-style: normal;
  font-weight: normal;
  max-width: 75%;
  line-height: 28px;
}

/* About Me */

.about-me{
  text-align: left;
}

.me{
  max-height: 100%;
  max-width: 100%;
  height: 85%;
  width: 85%;
}

.introduction{
  text-align: left;
}